.swiper-container{
    height: 250px;
}
.swiper-slide{
    background-size: auto 250px !important;
    background-repeat: no-repeat !important;
}
.swiper-slide span{
    position: absolute;
    bottom: 20px;
    background-color: rgba(0,0,0,0.21);
    color: #ffffff;
    padding-left: 5px;
    width: 100%;
}
.today-update-list li{
    list-style: none;
    line-height: 29px;
    border-bottom: 1px dashed #145f53;
}
footer{
    color: #31708f;
    background-color: #dddddd;
    border-color: #bce8f1;
    text-align: center;
}